* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
	background-color: lightgrey;
}
div {
	border: 2px double magenta;
	border-radius: 15px;
}
h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-bottom: 3px solid magenta;
	border-radius: 15px;
}
h2 {
	text-align: center;
}
#pon {
	list-style-type: lower-roman;
	list-style-position: outside;
}
#czw {
	list-style-image: url(../image/movie.png);
}
#teardrop {
	width: 50%;
	border-top-left-radius: 75px;
	border-bottom-right-radius: 75px;
	text-align: center;
	background-color: lightgreen;
}
.red {
	background-color: navy;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
	width: 50%;
	border-bottom-left-radius: 75px;
	border-top-right-radius: 75px;
    text-align: center;
}
#sob{
    list-style-type: georgian;
    
}
.sobota{
    background-color: #671289;
    
}
