*{
    border: solid;
}
.pizza {
	width: 200px;
	height: 200px;
	box-shadow: 2px 2px 10px lightgrey;
}
p.opis {
	font-size: 20px;
}
#time {
	font-weight: bold;
}
.time {
	color: lightgray;
}
p.cytat a.link {
    font-family: gill sans;
    text-decoration: none;
}

h1,
h2,
p,
li {
	font-family: Helvetica;
	color: brown;
}
